<ion-content class="mynote-padding" no-bounce xmlns="http://www.w3.org/1999/html">

  <ion-row>
    <div class="upper-toolbar">

      <p class="page-count">{{currentPage + 1}}/{{ pages.length}}</p>

      <ion-fab top right edge style="top: 0; display: flex">
        <button ion-fab mini class="fab-mobile share-btn" (click)="share_chat()">
          <ion-icon name="share" style="font-size: 1.6em;"></ion-icon>
        </button>
        <!-- <ion-fab-list side="left">
          <button ion-fab (click)="share_email()"><ion-icon name="chatbubbles"></ion-icon></button>
          <button ion-fab (click)="share_email()"><ion-icon name="mail"></ion-icon></button>
        </ion-fab-list> -->

        <button ion-fab mini class="close-btn" (click)="close()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </ion-row>

  <ion-row>

    <span class="remove-scrolling">
    <ion-col col-2 class="thumbnails_overlap">
      <ion-list padding *ngIf="pages">
        <ion-item class="pages" *ngFor="let page of pages; let i = index;" [ngClass]="{'selected': currentPage == i}"
                  (click)="setCanvas(i, page)">
          <img [id]="'page'+ i" [src]="page.url" (load)="setPixels(i)" [style.display]="'none'"/>
          <ion-icon class="page" [style.backgroundImage]="'url('+page.url+')'"></ion-icon>
          <div right *ngIf="mode === 'notebook'">
            <button class="delete_icon" (click)="removePage(i)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </div>

          <span class="pdf_num">{{i +1}}</span>

        </ion-item>

        <ion-item class="add-page" *ngIf="mode === 'notebook'">
          <button class="addpage_btn" ion-button block large outline (click)="addPage()">
            <img src="assets/imgs/workbok_editortool/add_new.png" style="    margin-right: -5px;">
            <br/>
            <p class="addnew_p">Add new</p>
          </button>
        </ion-item>
      </ion-list>
    </ion-col>
  </span>

    <ion-col col-10 style="margin: 0 auto">
      <div id="exampleContainer1" class='image-builder'>
        <div id="plateContainer" [style.backgroundImage]="'url('+canvasImage+')'" class='fabric-container' (touchstart)="onTouchStart($event)"
             (mousedown)="onPlateMouseDown($event)">
          <canvas id="canvasId" crossOrigin="anonymous" width="1000" height="500" class="plate"></canvas>
        </div>
      </div>
    </ion-col>


    <ion-col col-2 class="toolset_overlap">
      <ion-list class="toolset" (click)="clickOutSide()">

        <ion-row>
          <ion-col col-6>
          <!-- =========== PEN TOOL =============== -->
            <ion-item class="tool_item" [ngClass]="{'selected_tool_item': tool === 'pen'}"
            (click)="draw()">
              <ion-icon class="tool_icon" name="md-create"></ion-icon>
            </ion-item>
            
            <div class="tool_item highlight" >
              <ion-item class="tool_item" [ngClass]="{'selected_tool_item': tool === 'highlight'}" (click)="highlight()">
                <svg-icon src="assets/icon/hilighter.svg"></svg-icon>
              </ion-item>
              <div class="highlight_color" *ngIf="toggle_highlight_color">
                <div class="colors" style="background-color: rgba(3, 255, 0, 1);" (click)="changeHighlightColor('rgba(3, 255, 0, 0.5)')"></div>
                <div class="colors" style="background-color: rgba(255, 0, 188, 1);" (click)="changeHighlightColor('rgba(255, 0, 188, 0.5)')"></div>
                <div class="colors" style="background-color: rgba(255, 255, 0, 1);" (click)="changeHighlightColor('rgba(255, 255, 0, 0.5)')"></div>
                <div class="colors" style="background-color: rgba(0, 205, 255, 1);" (click)="changeHighlightColor('rgba(0, 205, 255, 0.5)')"></div>
                <div class="colors" style="background-color: rgba(133, 0, 255, 1);" (click)="changeHighlightColor('rgba(133, 0, 255, 0.5)')"></div>
              </div>
            </div>

            <ion-item class="tool_item"
                      [ngClass]="{'selected_tool_item': tool === 'erase', 'tool_item': tool !== 'erase' }"
                      (click)="erase()">
              <svg xmlns="http://www.w3.org/2000/svg" id="svg3" version="1.1" viewBox="0 0 17.347726 17.347726"
                   height="17.347727" width="17.347727">
                <path fill="white"
                      d="m 16.84484,5.5311272 a 1.823,1.823 0 0 1 0,2.5144717 L 8.0456032,16.844836 a 1.823,1.823 0 0 1 -2.5144718,0 L 0.50289512,11.816599 a 1.823,1.823 0 0 1 0,-2.5144713 L 9.3021319,0.50289089 a 1.823,1.823 0 0 1 2.5144721,0 z M 6.7883673,15.5876 11.234655,11.141312 6.2064184,6.1130761 1.760131,10.559364 Z"
                      id="path"/>
              </svg>
            </ion-item>

            <ion-item class="tool_item"
                      [ngClass]="{'selected_tool_item': tool === 'write', 'tool_item': tool !== 'write' }"
                      (click)="onAddText()">
              <svg width="20.267" height="16" viewBox="0 0 20.267 16">
                <path fill="white" id="path"
                      d="M224.8,324.733v-3.2h9.6v3.2h-3.2V332.2H228v-7.467Zm6.4-8.533h13.867v3.2h-5.333v12.8h-3.2V319.4H231.2Z"
                      transform="translate(-224.8 -316.2)"/>
              </svg>
            </ion-item>
            
            <!-- ============== BRUSH SIZE TOOL ================== -->
            <div class="tool_item brush_toggler" (click)="toggleBrushSize()">
              <span>
                <small class="toolitem_subtopic">Size</small>
                <img class="toolitem_subtopic_content" src="assets/imgs/workbok_editortool/circle_{{brushImage}}x.png">
              </span>

              <div class="brush_width" *ngIf="brushWidthDiv">
                <div [ngClass]="(brushWidth === 1)? 'brush-margin': 'brush-margin'" (click)="lineWidthChange(2)"><img
                  src="assets/imgs/workbok_editortool/circle_1x.png"></div>
                <div [ngClass]="(brushWidth === 1)? 'brush-margin': 'brush-margin'" (click)="lineWidthChange(3)"><img
                  src="assets/imgs/workbok_editortool/circle_2x.png"></div>
                <div [ngClass]="(brushWidth === 1)? 'brush-margin': 'brush-margin'" (click)="lineWidthChange(4)"><img
                  src="assets/imgs/workbok_editortool/circle_3x.png"></div>
                <div [ngClass]="(brushWidth === 1)? 'brush-margin': 'brush-margin'" (click)="lineWidthChange(5)"><img
                  src="assets/imgs/workbok_editortool/circle_4x.png"></div>
              </div>
            </div>

            <!-- ============== END BRUSH SIZE TOOL ================== -->
              
            <div class="tool_item upper-tools" *ngIf="editingMode === 'draw'">
              <span class="toolitem_subtopic">Colour</span>
              <span [cpDisableInput]="true" class="colorPicker" [(colorPicker)]="color" colorpicker-position="left"
                    (colorPickerChange)="onchangeColor($event)"
                    (click)='toggleColor()'
                    [style.background]="color"
                    [style.width]="'25px'"></span>
            </div>

          </ion-col>
          <ion-col col-6>
              <ion-item class="tool_item" [ngClass]="{'selected_tool_item': tool === 'pan', 'tool_item': tool !== 'pan' }"
                        (click)="pan()">
                <ion-icon class="tool_icon" name="hand"></ion-icon>
              </ion-item>

              <ion-item class="tool_item" (click)="zoomIn()">
                <i class="material-icons">zoom_in</i>
                <!-- <ion-icon class="tool_icon" name="add-circle"></ion-icon> -->
              </ion-item>

              <ion-item class="tool_item" (click)="zoomOut()">
                <i class="material-icons">zoom_out</i>
                <!-- <ion-icon class="tool_icon" name="remove-circle"></ion-icon> -->
              </ion-item>

              <ion-item class="tool_item" (click)="resetZoom()">
                <!-- <ion-icon class="tool_icon" name="refresh"></ion-icon> -->
                <i class="material-icons">youtube_searched_for</i>
              </ion-item>
              
              <ion-item class="tool_item" (click)="undo()">
                <ion-icon class="tool_icon" name="undo"></ion-icon>
              </ion-item>

              <ion-item class="tool_item" (click)="redo()">
                <ion-icon class="tool_icon" name="redo"></ion-icon>
              </ion-item>

              <ion-item class="tool_item" (click)="clearAll()">
                <ion-icon  class="tool_icon" name="refresh"></ion-icon>
              </ion-item>
          </ion-col>

        </ion-row>



        <!--<ion-item class="tool_item" (click)="removeExtendPage()">-->
        <!--<ion-icon class="tool_icon" name="arrow-dropup"></ion-icon>-->
        <!--</ion-item>-->


      </ion-list>

      <ion-list class="toolset" (click)="clickOutSide()" style="margin-top: 10px; padding: 5px">
      
            <ion-item class="tool_item" (click)="extendPage(currentPage, 'new')" style="width: 100px; margin-bottom: 0">
              <!-- <ion-icon class="tool_icon" name="arrow-dropdown"></ion-icon> -->
              <!-- <i class="material-icons">playlist_add</i> -->
              <ion-row style="align-items: center;">
                <ion-col col-2 >
                  <i class="material-icons" style="display:block">keyboard_arrow_up</i>
                  <i class="material-icons" style="display:block">keyboard_arrow_down</i>
                </ion-col>
                <ion-col col-10>
                  <p class="toolitem_subtopic" style="margin-left: 7px; font-size: 10px">Stretch paper</p>
                </ion-col>
              </ion-row>
          
            </ion-item>
        
      </ion-list>

    </ion-col>

  </ion-row>

</ion-content>

